
header {
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

body {
    background-image: url(background.jpg);
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}
    
h1 {
    line-height: 200%;
    background: url(sunset.jpg) no-repeat right;
    padding-left: 20px;
    height: 72px;
    margin-bottom: 0;
}
    
h2 {
    color: #3399CC;
    font-family: Georgia, serif;
}

h3 {
    color: #000033;
    font-weight: bold;
}

nav {
    font-weight: bold;
    float: left;
    width: 160px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 20px;
}

nav a { 
    text-decoration: none;
    display: block;
}

nav a:visited { 
    color: #000033;
}

nav a:link { 
    color: #344873; 
}

nav a:hover { 
    color: #FFFFFF; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
  color: #000033;
  font-size: 1.2em;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding: 10px;
  background-color: #FFFFFF;
  margin-left: 170px;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #90C7E3;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: 3px 3px 10px #666666;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
}

main img {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

main ul {
    list-style-position: inside;
}

.clear {
    clear: both;
}

header, nav, main, footer {
    display: block;
}